useDynLib(AdvStatComp)
exportPattern("^[[:alpha:]]+")
importFrom(RcppArmadillo)
importFrom(Rcpp, evalCp)
importFrom(LowRankQP, LowRankQP)
importFrom(quadprog, solve.QP)
importFrom(kernlab, ipop)
importFrom(VGAM, zeta)
importFrom(glmnet, cv.glmnet)