useDynLib(AdvStatComp)
exportPattern("^[[:alpha:]]+")
import(RcppArmadillo)
importFrom(Rcpp, evalCpp)
importFrom(LowRankQP, LowRankQP)
importFrom(quadprog, solve.QP)
importFrom(kernlab, ipop, primal)
importFrom(VGAM, zeta)
importFrom(glmnet, cv.glmnet)